body {
  background-image: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    & main {
        display: flex;
        /* alineado en el centro */
        justify-content: center;
        align-items: center;
        /* que main crezca para ajustarse a toda la pantalla */
        height: 100vh;
        padding: 20px;

        & img {
            width: 100%;
            @media screen and (min-width: 600px) {
                width: 800px;
            }
        }
    }
}
