* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
  }

  
body {
    background-color: #333;
  
    & main {
      display: flex;
      /* uno encima del otro */
      flex-direction: column;
      background-color: #f4f4f4;
      
      /* alineado en el centro */
      justify-content: center;
      align-items: center;
      /* que main crezca para ajustarse a toda la pantalla */
      height: 100vh;

      @media screen and (min-width: 600px) {
        img{
            width: 70%;
        }
      }
  
      /*  */
      @media screen and (max-width: 600px) {
        flex-direction: row;
        gap: 50px;
      }
  

    }
}